html {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1, h2 {
	color: #fff;
	text-align: center;
	margin: 0;
	position: relative;
	top: 0;
	z-index: 1;
	text-shadow: #222 2px 2px 3px;
}

.header {
	background-color: #e7001d;
}

h1 {
	font-size: 4em;
	padding-top: 0.5em;
}

h2 {
	font-size: 1em;
	padding-bottom: 2.5em;
}

.medallion {
	width: 128px;
	position: absolute;
	top: 2em;
	left: 5.8em;
	z-index: 0;
}

nav {
	background-color: #222222;
	text-align: center;
}

nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	width: 50%;
	border: 1px solid #000;
	background-color: #222;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	background-color: #222;
	padding: 0.5em;
	margin: 0;
}

.banner {
	width: 100%;
}

h3 {
	position: absolute;
	top: 25em;
	left: 38%;
	font-size: 1em;
	color: #fff;
	text-shadow: #222 2px 2px 3px;
}
